html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #ffffff;
  margin-bottom: 60px;
}

.nav-bg {
  background-color: #0052cc;
}

.color {
  color: #f2f2f2;
}

.color:hover {
  color: #ffffff;
}

.error {
    color: red;
 }